<h1 class="title">Diseños realizados de CSS</h1>
<div>
  <button
    [routerLink]="['/FormularioTransparente']"
    class="button is-large is-success is-rounded"
  >
    Fomulario transparente
  </button>
  <button
    [routerLink]="['/BotonesHover']"
    class="button is-large is-success is-rounded"
  >
    Boton hover
  </button>
  <button
    [routerLink]="['/divRedondo']"
    class="button is-large is-success is-rounded"
  >
    Div Redondo
  </button>

  <button
    [routerLink]="['/letrasExpandidas']"
    class="button is-large is-success is-rounded"
  >
    Letras Expandidas
  </button>

  <button
    [routerLink]="['/focus']"
    class="button is-large is-warning is-rounded"
  >
    Focus
  </button>

  <button
    [routerLink]="['/iconoBusqueda']"
    class="button is-large is-danger is-rounded"
  >
    Icono Buscar
  </button>
  <button
    [routerLink]="['/imgCarrusel']"
    class="button is-large is-success is-rounded"
  >
    Carrusel Imagenes
  </button>

  <button
    [routerLink]="['/menuLetrasGrandes']"
    class="button is-large is-danger is-rounded"
  >
    Menu con letras Grande
  </button>
  <button
    [routerLink]="['/tabSection']"
    class="button is-large is-warning is-rounded"
  >
    tab
  </button>

  <button
    [routerLink]="['/textImg']"
    class="button is-large is-warning is-rounded"
  >
    imagen con texto
  </button>
  <button
    [routerLink]="['/textVideo']"
    class="button is-large is-success is-rounded"
  >
    Video con texto transparente
  </button>
  <button
    [routerLink]="['/textTransImg']"
    class="button is-large is-success is-rounded"
  >
    texto transparente con img
  </button>
  <button
    [routerLink]="['/menuAcordeon']"
    class="button is-large is-danger is-rounded"
  >
    Menú Acordeon
  </button>
  <button
    [routerLink]="['/card']"
    class="button is-large is-success is-rounded"
  >
    Card de Blog
  </button>
  <button
    [routerLink]="['/fantasma']"
    class="button is-large is-success is-rounded"
  >
    Fantasma
  </button>
  <button
    [routerLink]="['/iconosSmall']"
    class="button is-large is-success is-rounded"
  >
    Iconos Pequeños
  </button>
</div>
