<p>Diseños realizados de CSS</p>
<button
  [routerLink]="['/FormularioTransparente']"
  class="button is-large is-success is-rounded"
>
  Fomulario transparente
</button>
<button
  [routerLink]="['/BotonesHover']"
  class="button is-large is-success is-rounded"
>
  Boton hover
</button>
<button
  [routerLink]="['/divRedondo']"
  class="button is-large is-success is-rounded"
>
  Div Redondo
</button>

<button
  [routerLink]="['/letrasExpandidas']"
  class="button is-large is-success is-rounded"
>
  Letras Expandidas
</button>

<button [routerLink]="['/focus']" class="button is-large is-success is-rounded">
  Focus
</button>

<button
  [routerLink]="['/iconoBusqueda']"
  class="button is-large is-success is-rounded"
>
  Icono Buscar
</button>
<button
  [routerLink]="['/imgCarrusel']"
  class="button is-large is-success is-rounded"
>
  Carrusel Imagenes
</button>
